$highlight: #226CC6;
$grey: #888;
$sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;

@import 'reset';
@import 'pygments';

@mixin at($width: 1020px)
{
    @media screen and (min-width: $width)
    {
        @content;
    }
}

@mixin antialiased
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*
{
    box-sizing: border-box;
}

body
{
    background-color: white;
    font-family: $sans-serif;
    font-size: 100%;
    padding: 15px 0;

    @include at()
    {
        font-size: 110%;
        padding: 40px;
    }
}

.c-container
{
    max-width: 640px;
    margin: auto;
    padding: 0 20px;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: bold;
}

b, strong
{
    font-weight: bold;
}

i, em
{
    font-style: italic;
}

sup
{
    font-size: 50%;
    font-weight: bold;
    position: relative;
    top: -10px;
    right: -1px;
}

a
{
    color: $highlight;
    position: relative;
    text-decoration: none;
    &:hover { text-decoration: underline; }
    &:active { top: 1px; }
}


.c-article
{

    h2, h3, h4, h5, h6
    {
        margin-bottom: 15px;
    }

    h3
    {
        margin-top: 40px;
    }

    h4, h5, h6
    {
        margin-top: 30px;
    }

    h2
    {
        font-size: 130%;
        border-bottom: 1px solid #DDD;
        margin-top: 50px;
        padding-bottom: 10px;

        @include at()
        {
            font-size: 145%;
        }
    }

    h3
    {
        font-size: 120%;

        @include at() {
            font-size: 130%;
        }
    }

    h4
    {
        font-size: 110%;
    }

    p, li
    {
        color: #222;
        line-height: 1.55em;
    }

    p, ol, ul
    {
        margin-bottom: 20px;
    }

    ul
    {
        list-style: disc;
        padding-left: 20px;
    }

    li
    {
        margin-bottom: 3px;
    }

    &__body a
    {
        text-decoration: underline;
    }

    .highlight
    {
        border-radius: 2px;
        // background-color: #f8f8f8;
        font-size: 80%;
        line-height: 2em;
        margin-bottom: 25px;
        overflow-x: scroll;
        padding: 15px;
    }

    .highlight pre,
    code
    {
        font-family: menlo, monospace;
    }

    p code
    {
        background-color: #f5f5f5;
        border-radius: 2px;
        color: darken($highlight, 20%);
        font-size: 85%;
        padding: 1px 4px;
    }

    .comment
    {
        color: $grey;
        font-size: 75%;
        margin-top: -20px;
        position: relative;
        display: block;
    }

    &__categories
    {
        color: $grey;
        font-family: $sans-serif;
        font-size: 80%;
        margin-bottom: 40px;
    }

    &__category
    {
        color: $highlight;
        display: inline-block;
    }

    &__title
    {
        border-bottom: 1px solid #DDD;
        font-size: 160%;
        line-height: 1.25em;
        margin-bottom: 15px;
        margin-top: 0;
        padding-bottom: 15px;

        a { color: #000; }

        @include at()
        {
            font-size: 175%;
            letter-spacing: -0.5px;
            line-height: 1.15em;
            margin-bottom: 20px;
        }
    }

    &__heading-anchor
    {
        color: #000;
        text-decoration: none !important;

        &:hover:before,
        &:active:before,
        &:target:before
        {
            bottom: 3px;
            color: #DDD;
            content: "#";
            display: block;
            font-weight: normal;
            left: -20px;
            position: absolute;
        }
    }

    &__footer
    {
        border-top: 1px solid #DDD;
        color: $grey;
        font-family: $sans-serif;
        font-size: 75%;
        padding-top: 15px;
    }

    .notice
    {
        background-color: lighten($highlight, 48%);
        color: darken($highlight, 30%);
        font-size: 16px;
        line-height: 1.4em;
        padding: 10px;
    }
}

.c-article.c-article--index
{
    padding: 0;
}

.c-article .c-article-list
{
    list-style: none;
    padding-left: 0;

    &__title
    {
        font-size: 110%;
    }

    &__date
    {
        color: #888;
        font-size: 75%;
        display: block;
        padding-top: 10px;

        @include at() {
            display: inline;
            float: right;
            padding-top: 0;
        }
    }

    &__summary
    {
        padding-top: 10px;
        font-size: 90%;
    }
}

.c-site__footer,
.c-site__header
{
    font-family: $sans-serif;
    font-size: 80%;
    padding-bottom: 60px;
    padding-top: 60px;
}

.c-site__header
{
    h1
    {
        font-size: 110%;
        a { color: #000; }
    }

    .c-introduction
    {
        line-height: 1.45em;
        padding-top: 10px;

        a
        {

            &:before
            {
                content: ', ';
                display: inline-block;
                padding: 0 4px 0 0;
            }

            &:first-child:before
            {
                display: none;
            }
        }
    }
}

.c-footer-links
{
    font-weight: bold;

    &__item
    {
        display: inline-block;
        margin-right: 10px;

        a { color: #000; }
    }
}
