{% for article in articles %}
<li class="c-list__item u-flex-col">
    <a class="c-list__link" href="/{{ article.url }}">{{ article.title }}</a>
    {{ article.summary }}
    <time class="u-small" itemprop="datePublished" datetime="{{ article.date }}">{{ article.date.strftime('%B %Y') }}</time>
</li>

{% if article.date.strftime('%B %Y') == 'April 2020' %}
<li class="c-list__item u-flex-col">
    <div>
        <a class="c-list__link" href="https://substrakt.com/journal/simplify-your-loops-with-array_column/">
            PHP: Simplify your loops with array_column
        </a>  <span class="u-small">&mdash; External site</span>
    </div>
    <p>Using array_column reduces the number of lines of code you have to write, and the complexity of your code.</p>
    <time class="u-small" itemprop="datePublished" datetime="">March 2020</time>
</li>
{% endif %}

{% endfor %}
