{% extends 'base.html' %}

{% block title %}{{ article.title }} | {{ SITENAME }}{% endblock %}

{% block meta %}
    <meta name="date" content="{{ article.date }}" />
    <meta name="modified" content="{{ article.modified }}" />
    <meta name="category" content="{{ article.category }}" />
    <meta name="authors" content="Stuart Maynes" />
    <meta name="summary" content="{{ article.summary|striptags }}" />
    <meta name="description" content="{{ article.summary|striptags }}" />
    {% if article.status == 'draft' %}
    <meta name="robots" content="noindex" />
    {% endif %}
{% endblock %}

{% block content %}
<section class="c-container">

    <article class="c-article c-article--single" id="{{ article.slug }}">

        <header class="c-article__header">
            <time class="c-article__date" itemprop="datePublished" datetime="{{ article.date }}">
                {{ article.locale_date }}
            </time>
            <h1>{{ article.title }}</h1>
        </header>

        <div class="c-article__body">
            {{ article.content }}
        </div>

    </article>

</section>
{% endblock%}
