{% extends 'base.html' %}

{% block title %}{{ article.title }} - Stuart Maynes, Software Engineer{% endblock %}

{% block meta %}
    <meta name="date" content="{{ article.date }}" />
    <meta name="modified" content="{{ article.modified }}" />
    <meta name="category" content="{{ article.category }}" />
    <meta name="authors" content="Stuart Maynes" />
    <meta name="summary" content="{{ article.summary|striptags }}" />
    <meta name="description" content="{{ article.summary|striptags }}" />
{% endblock %}

{% block content %}
<article class="c-article c-article--single" itemscope itemprop="blogPost" itemtype="http://schema.org/Blog">
    <header class="c-article__header">
        <h1 class="c-article__title" itemprop="headline">
            {{ article.title }}
        </h1>
    </header>
    <div class="c-article__body" itemprop="text">
        {{ article.content }}
    </div>
    <footer class="c-article__footer">
        <p class="c-article__date">
            Posted: <time itemprop="datePublished" datetime="{{ article.date }}">{{ article.date.strftime('%A %d %B %Y') }}</time>
            in {% for tag in article.tags|sort %}
                <a class="c-article__category" href="/{{ tag.url }}">{{ tag }}</a>{% if loop.index != loop.length %}, {% endif %}
            {% endfor %}.
        </p>
    </footer>
</article>
{% endblock %}
