<!DOCTYPE html>
<html lang="en">
<head>
    {% if GOOGLE_ANALYTICS %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163561004-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-163561004-1');
    </script>
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block meta %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/theme/css/main.css">
</head>
<body class="{{ output_file|replace('/', ' ')|replace('.', ' ') }}">
    <header class="c-site-header">
        <div class="c-container">
            <nav class="c-links">
                <a class="c-links__item c-site-name" href="/">Stuart Maynes</a>
                {% for link in HEADER_LINKS %}
                    <a class="c-links__item" href="{{ link[1] }}">{{ link[0] }}</a>
                {% endfor %}
            </nav>
        </div>
    </header>

    <main class="c-site-main">
        <div class="c-container">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer class="c-site-footer">
        <div class="c-container">
            <nav class="c-links">
                {% for link in FOOTER_LINKS %}
                    <a class="c-links__item" href="{{ link[1] }}">{{ link[0] }}</a>
                {% endfor %}
            </nav>
        </div>
    </footer>

{% block scripts %}
    <script src="/theme/js/main.js"></script>
{% endblock scripts %}
</body>
</html>
