{% extends 'base.html' %}

{% block title %}{{ category }} | {{ SITENAME }}{% endblock %}

{% block meta %}
    <meta name="authors" content="Stuart Maynes" />
    <meta name="summary" content="Articles about {{ category }}" />
{% endblock %}

{% block content %}
<section class="c-container">
    <div class="c-article">
        <h4>Category</h4>
        <ol class="c-archive-list">
            <li class="c-archive-list__title">{{ category }}</li>
            {% for article in dates %}
                {% include '_list.html' %}
            {% endfor %}
        </ol>
    </div>
</section>
{% endblock%}
