{% extends 'base.html' %}

{% block title %}Stuart Maynes, Software Engineer{% endblock %}

{% block meta %}
    <meta name="authors" content="Stuart Maynes" />
    <meta name="description" content="Articles about programming using Python." />
{% endblock %}

{% block content %}

<article class="c-article c-article--index">
    <div class="c-article__body">
        <ul class="c-article-list">
        {% for article in articles %}
            <li>
                <div>
                    <a class="c-article-list__title" href="/{{ article.url }}">{{ article.title }}</a> <time class="c-article-list__date" itemprop="datePublished" datetime="{{ article.date }}">{{ article.date.strftime('%A %d %B %Y') }}</time>
                </div>
                <div class="c-article-list__summary">
                    {{ article.summary }}
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</article>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock scripts %}
