{% extends 'base.html' %}

{% block title %}{{ page.title }} | {{ SITENAME }}{% endblock %}

{% block meta %}
    <meta name="date" content="{{ page.date }}" />
    <meta name="modified" content="{{ page.modified }}" />
    <meta name="authors" content="Stuart Maynes" />
    <meta name="summary" content="{{ page.summary|striptags }}" />
{% endblock %}

{% block content %}
<section class="c-container">
    <div class="c-article" id="{{ page.slug }}">
        {{ page.content }}
    </div>
</section>
{% endblock%}
