{% extends 'base.html' %}

{% block title %}Tags | {{ SITENAME }}{% endblock %}

{% block meta %}
    <meta name="authors" content="Stuart Maynes" />
    <meta name="summary" content="Tags on {{ SITENAME }}" />
{% endblock %}

{% block content %}
<section class="c-container">
    <div class="c-article">
        <h4>Tags</h4>
        <ol class="c-archive-list">
            {% for tag, articles in tags|sort %}
                <li class="c-archive-list__title">
                    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                </li>
                {% for article in articles %}
                    {% include '_list.html' %}
                {% endfor %}
            {% endfor %}
        </ol>
    </div>
</section>
{% endblock%}
