.c-article {

    h2 a, h3 a, h4 a {
        padding-top: 1em;
        display: inline-block;
        text-decoration: none;
    }

    h2 {
        margin-block-end: -0.25em;
    }

    h3, h4 {
        margin-block-end: -0em;
    }

    h2, h3, h4 {
        padding-top: 1em;
    }

    h3, h4 {
        margin-bottom: -10px;
    }

    .pt-0 {
        padding-top: 0;
    }

    code {
        background-color: #F5F6F7;
        font-size: 18px;
        padding: 1px;
    }

    pre code {
        color: #222;
        display: block;
        line-height: 1.6em;
        overflow: auto;
        padding: 20px;
        font-size: 16px;
    }

    &__date {
        font-size: 14px;
        font-weight: bold;
    }
}

.c-intro {
    margin-block-end: 4em;
}

.c-notice {
    background-color: #5a40df;
    padding: 15px;
    font-size: 16px;
    color: #FFF;
}
