.c-article {

    &__title, &__heading, &__date {
        font-family: 'Roboto Slab', serif;
    }

    h2 {
        margin-block-end: -0.25em;
    }

    h3, h4 {
        margin-bottom: -10px;
    }

    h2, h3, h4 {
        padding-top: 1em;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    &__heading {
        padding-top: 0;
    }

    code {
        border-radius: 2px;
        background-color: #F5F6F7;
        font-size: 18px;
        padding: 1px;
    }

    pre code {
        color: #222;
        display: block;
        line-height: 1.6em;
        overflow: auto;
        padding: 20px;
        font-size: 16px;
    }

    p a, li a {
        color: darken($color, 10%);
        text-decoration: underline;
    }

    &__date {
        font-family: arial, sans-serif;
        font-size: 14px;
        font-weight: bold;
    }

    &__footer {
        padding: 40px 0;
    }
}

.c-intro {
    margin-block-end: 4em;
}

.c-notice {
    border-radius: 2px;
    background-color: lighten($color, 30%);
    padding: 15px;
    font-size: 16px;
    line-height: 1.4em;
    font-family: arial, sans-serif;
}
