$color: #FF5572;

body {
    color: #0d0c23;
    font-family: 'Source Serif Pro', serif;
    font-size: 18px;

    p, li {
        color: #444;
        line-height: 1.5em;
    }

    @media screen and (min-width: 800px) {
        font-size: 20px;

        p, li {
            line-height: 1.65em;
        }
    }


    a {
        color: #111;
        text-decoration-line: none;
    }

    a:hover {
        text-decoration-color: $color;
    }
}

::-moz-selection {
    background: lighten($color, 10%);
}
::selection {
    background: lighten($color, 10%);
}

body {
    animation: fadeIn ease 0.75s;
    -webkit-animation: fadeIn ease 0.75s;
    -moz-animation: fadeIn ease 0.75s;
    -o-animation: fadeIn ease 0.75s;
    -ms-animation: fadeIn ease 0.75s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
