.c-site-header {
    .c-container {
        padding-bottom: 0;
    }

    .c-site-name {
        font-family: 'Roboto Slab', serif;
        font-size: 17px;
        line-height: 1em;

        a { text-decoration: none; }
    }
}

.c-intro {
    margin-top: 0;
}
